.transpbox{
    background-color: #000;
    border: none;
    opacity: 0.5;
}
#imagen_texto{
    border: none;
    border-radius: 0%;

}


.h5, h5 {
    font-size: 1.56rem;
}


#comprar{
    color: white;
    background-color: rgb(50, 194, 50);
}

.card-text{
    margin-top: 20px;
}

.subrayado{
    text-decoration-style: dotted;
}

#totales{
    color: blue;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

#formButton, #formSummary, #formErase{
    font-weight: bold;
    color: white;
    background-color: rgb(150, 194, 29);
}

#formSummary, #formErase{
    width: 48.5%;
}


.nav-item{
    margin: 0 20px;
    max-width: min-content;
    text-align: center;
}

#footer {
    background: linear-gradient(to right, #023047, #023047, #005f73);
}

.option, .discount{
    font-weight: bold;
}